@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --theme: 221 90% 55%;
        --background: 240 100% 98%;
        --primary: 0 0% 9%;
        --secondary: 0 0% 9%;
        --secondary-bg: 0 0% 93%;
        --muted: 0 0% 45.1%;
        --accent: 221 100% 15%;
        --destructive: 0 84.2% 60.2%;
        --input: 240 10% 21%;
        --border: 0 1% 70%;
        --ring: 0 0% 31%;
        --radius: 0.5rem;
    }
    .dark {
        --theme: 74 91% 54%;
        --background: 235 15% 9.5%;
        --primary: 0 0% 98%;
        --secondary: 0 0% 80%;
        --secondary-bg: 0 0% 22%;
        --muted: 0 0% 78%;
        --accent:74 91% 80%;
        --destructive: 0 52% 53%;
        --input: 0 0% 14.9%;
        --border: 0 1% 83%;
        --ring: 0 0% 72%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    span:empty,
    p:empty,
    h1:empty,
    h2:empty,
    h3:empty,
    h4:empty,
    h5:empty,
    h6:empty {
        display: none;
    }

    details > summary {
        list-style: none;
    }

    details > summary::-webkit-details-marker {
        display: none;
    }
}

@layer components {
}
