/* NOTE: @config will be replaced*/
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "site/styles/animation.css";
@import "site/styles/theme.css";

@layer base {
  * {
    /*@apply border-border;*/
  }

  body {
    @apply bg-background text-primary;
  }

  span:empty,
  p:empty,
  h1:empty,
  h2:empty,
  h3:empty,
  h4:empty,
  h5:empty,
  h6:empty {
    display: none;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  /* 스크롤바 스타일링 */
  * {
    /*scrollbar-width: thin !important;*/
    /* Chrome, Edge, Safari 브라우저 */
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-background);
      border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(204, 204, 204, 0.53);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-theme);
    }
  }

  .hide-scrollbar {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Firefox */
    scrollbar-width: none;

    /* IE */
    -ms-overflow-style: none;
  }
}

@layer components {
}

@layer prose-content {
  .prose {
    @apply *:text-primary container;
  }

  .prose h1 {
    @apply mt-10 mb-6 text-3xl font-bold;
  }

  .prose h2 {
    @apply mt-5 mb-3 text-2xl font-bold;
  }
  .prose h3 {
    @apply my-1 text-xl font-bold;
  }
  .prose p {
    @apply mb-0.5;
  }
  .prose a {
    @apply hover:text-theme text-blue-300 transition-colors duration-200;
  }
  .prose ul {
    @apply list-inside list-disc leading-6;
  }
  .prose ol {
    @apply list-inside list-decimal leading-6;
  }

  .prose code:not(pre code) {
    @apply bg-muted text-accent mx-0.5 rounded px-1 py-0.5;
  }
}

@layer tags {
  .category,
  .lang,
  .pattern,
  .path,
  .component,
  .framework,
  .platform,
  .level,
  .style {
    @apply font-semibold hover:opacity-80 capitalize;
  }

  .category {
    @apply bg-orange-100 text-orange-600;
  }
  .lang {
    @apply bg-blue-100 text-blue-600;
  }
  .platform {
    @apply bg-lime-100 text-lime-600;
  }
  .level .easy {
    & .easy {
      @apply bg-green-100 text-green-600;
    }
    & .mid {
      @apply bg-purple-100 text-purple-600;
    }
    & .hard {
      @apply bg-red-100 text-red-600;
    }
  }

  .pattern {
    @apply bg-cyan-100 text-cyan-600;
  }

  .framework {
    @apply bg-stone-100 text-stone-600;
    & .react {
      @apply bg-blue-100 text-blue-600;
    }
  }

  .component {
    @apply bg-sky-100 text-sky-600;
  }
  .style {
    @apply bg-emerald-100 text-emerald-600;
  }
  .path {
    @apply bg-emerald-100 text-emerald-600;
  }
}
