@theme animate {
  --animate-slide-y-in-up: slide-y-in-up 500ms ease-in-out forwards alternate;
  --animate-slide-y-in-down: slide-y-in-down 500ms ease-in-out forwards
    alternate;
  --animate-slide-y-out-up: slide-y-out-up 500ms ease-in-out forwards alternate;
  --animate-slide-y-out-down: slide-y-out-down 500ms ease-in-out forwards
    alternate;

  --animate-grid-expand: grid-expand-frame 500ms ease-in-out forwards alternate;
  --animate-grid-collapse: grid-collapse-frame 500ms ease-in-out forwards
    alternate;

  --animate-dissolve: dissolve 10s cubic-bezier(0.98, -0.14, 0.58, 1) 15s
    forwards infinite alternate;

  @keyframes dissolve {
    0% {
      filter: blur(0);
    }
    100% {
      filter: blur(4rem);
    }
  }

  @keyframes slide-y-in-down {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-y-out-down {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  @keyframes slide-y-in-up {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-y-out-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes grid-expand-frame {
    from {
      grid-template-rows: 0fr;
    }
    to {
      grid-template-rows: 1fr;
    }
  }

  @keyframes grid-collapse-frame {
    from {
      grid-template-rows: 1fr;
    }
    to {
      grid-template-rows: 0fr;
    }
  }
}
