---
import BaseLayout from "@site-ui/root-layout.astro";
import RorschachAnimation from "../components/landing/animation.astro";

// TBA - replace with animation
// const { isRoot, isAlgo, isUIUX } = getEnv();
//
// const [algoCollection, uiuxCollection] = await Promise.all([
//   isAlgo || isRoot
//     ? getCollection(RouteKeyMap.algorithms)
//     : ([] as CollectionEntry<RouteKeyMap.algorithms>),
//   isUIUX || isRoot ? getCollection(RouteKeyMap.uiux) : ([] as unknown[]),
// ]);
---

<BaseLayout title="HOME" description="Pattern Recognition Index">
  <div class="container mx-auto px-4 py-8">
    <!-- Hero Section  TBA : Animation-->
    <RorschachAnimation />
    <section class="mb-16 space-y-6 text-center">
      <blockquote
        class:list={[
          "relative",
          `before:caption-top before:content-start before:text-xl before:content-["“"]`,
          `after:caption-top after:content-end after:text-xl after:content-["”"]`,
          "italic",
        ]}
      >
        <blockquote>
          We have no future because our present is too volatile. <br />
          We have only risk management.
          <br />
          The spinning of the given moment's scenarios. <br />
          <b class="bg-gradient-to-b from-transparent">Pattern recognition.</b>
        </blockquote>
        <br />
      </blockquote>
      <a
        class:list={[
          "text-sm",
          "hover:text-theme transition-colors",
          "duration-1000",
        ]}
        href="https://www.amazon.com/Pattern-Recognition-William-Gibson-2005-02-01/dp/B01I26MLHS"
        target="_blank"
        rel="noopener noreferrer"
      >
        Inspired by William Gibson , Pattern Recognition, 2003
      </a>
    </section>
  </div>
</BaseLayout>
