---
import BaseLayout from "@site-ui/root-layout.astro";
---

<BaseLayout title="HOME" description="Pattern Recognition Index">
  <h1 class="text-theme text-2xl font-bold text-pretty sm:text-3xl">
    UNDER CONSTRUCTION
  </h1>
</BaseLayout>
