---
import BaseLayout from "@site-ui/root-layout.astro";
import RorschachAnimation from "../components/landing/animation.astro";
---

<BaseLayout title="HOME" description="Pattern Recognition Index">
  <div class="container mx-auto px-4 py-8">
    <!-- Hero Section  TBA : Animation-->
    <RorschachAnimation />
    <section class="mb-16 space-y-6 text-center">
      <blockquote
        class:list={[
          "relative",
          `before:caption-top before:content-start before:font-serif before:text-3xl before:content-["“"]`,
          `after:caption-top after:content-end after:font-serif after:text-3xl after:content-["”"]`,
          "italic",
        ]}
      >
        <blockquote>
          We have<br />
          no future<br />
          because <br />
          our present is<br />
          too volatile.<br />
          We have only<br />
          risk management:<br />
          The spinning of<br />
          the given moment's<br />
          scenarios. <br />
          <b
            class="from-primary bg-gradient-to-b to-transparent bg-clip-text text-transparent"
            >pattern recognition.</b
          ><br />
          ⠗⠠
        </blockquote>
        <br />
      </blockquote>
      <a
        class:list={[
          "text-sm",
          "hover:text-theme transition-colors",
          "duration-1000",
        ]}
        href="https://www.amazon.com/Pattern-Recognition-William-Gibson-2005-02-01/dp/B01I26MLHS"
        target="_blank"
        rel="noopener noreferrer"
      >
        From <cite>Pattern Recognition</cite>, William Gibson, 2003
      </a>
    </section>
  </div>
</BaseLayout>
